@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.container {
  max-width: 45rem;
  width: 100%;
  border: 1px solid red;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/********SCORE***********/
.score-container {
  border: 3px solid hsl(217, 16%, 45%);
  margin: 1rem 0;
  display: flex;
  width: 85%;
  padding: 1rem 1rem 0.8rem 1.5rem;
  border-radius: 20px;
}
.score-container img {
  height: 5rem;
}
.score-container .score {
  margin-left: auto;
  background-color: white;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.score p {
  color: hsl(229, 64%, 46%);
  font-weight: 600;
  margin: 1rem 0 0 0;
  letter-spacing: 0.2rem;
}
.score h1 {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  font-weight: 700;
}
/********SCORE***********/

/**********PENTAGON***********/
.pentagon-container {
  width: 90%;
  background: url("./images/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 25rem;
}
.paper {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 7px 1px -1px #1933b9;
}
.pentagon-container .paper {
  position: absolute;
  top: 25%;
  left: 63%;
}
.scissors {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 7px 1px -1px #805505;
}
.pentagon-container .scissors {
  position: absolute;
  top: 2%;
  left: 41%;
}
.spock {
  background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 7px 1px -1px #0e606e;
}
.pentagon-container .spock {
  position: absolute;
  top: 25%;
  left: 18%;
}
.lizard {
  background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 7px 1px -1px #381181;
}
.pentagon-container .lizard {
  position: absolute;
  top: 69%;
  left: 25%;
}
.rock {
  background: linear-gradient(#de3f5c, #da2f4e);
  box-shadow: 0px 7px 1px -1px #971930;
}
.pentagon-container .rock {
  position: absolute;
  top: 69%;
  left: 57%;
}
/**********PENTAGON***********/
.circle {
  height: 110px;
  width: 123px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.circle .inner-circle {
  background-color: white;
  width: 95px;
  height: 88px;
  border-radius: 100%;
  box-shadow: 0px 6px 0px 0px #d4d2d2cb inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.circle .inner-circle img {
  height: 48px;
}
/******big circle*********/

.circle-big {
  height: 200px;
  width: 210px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-big .inner-circle {
  background-color: white;
  width: 170px;
  height: 158px;
  border-radius: 100%;
  box-shadow: 0px 7px 0px 0px #d4d2d2cb inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.circle-big .inner-circle img {
  height: 90px;
}
/**********GAME PAGE *******/
.game-container {
  width: 100%;
  height: 25rem;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.player-side,
.computer-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.game-container h3 {
  color: #ffffff;
  font-size: 1.4rem;
}
.game-container h1 {
  font-size: 2.5rem;
  color: #ffffff;
}
.game-container .controls {
  flex-basis: 100%;
  text-transform: uppercase;
}
.game-container .controls button {
  height: 2.5rem;
  width: 11rem;
  border: none;
  border-radius: 6px;
  letter-spacing: 0.1rem;
  background: #ffffff;
  margin-top: 0.7rem;
  font-weight: 600;
  color: hsl(229, 25%, 31%);
  flex-basis: 100%;
  cursor: pointer;
}
.default {
  height: 200px;
  width: 210px;
  border-radius: 50%;
  background-color: hsl(237, 49%, 15%);
}
/**********GAME PAGE *******/

/*****EFFECTS*********/
.effect-left::before {
  content: "";
  background: radial-gradient(#2c3b5a 38%, #293857 38% 50%, #233455 50% 100%);
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  margin: 1.5rem;
  width: 450px;
  height: 450px;
  top: 25%;
  left: 0;
}
.default .effect-right {
  position: relative;
}
.default .effect-right::before {
  content: "";
  background: radial-gradient(#2c3b5a 38%, #293857 38% 50%, #233455 50% 100%);
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  margin: 1.5rem;
  width: 450px;
  height: 450px;
  top: -71%;
  left: -70%;
}
@keyframes rotation {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(359deg);
  }
}
.default > div {
  opacity: 0;
  transition: opacity 0.4s;
}

.default.active > div {
  opacity: 1;
  animation: rotation 1s backwards;
}

/************FOOTER******************/
.footer {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}
.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.footer button {
  border: 2px solid hsl(217, 16%, 45%);
  outline: none;
  background: transparent;
  padding: 0.5rem;
  float: right;
  border-radius: 8px;
  color: #bcc0c7;
  width: 7rem;
  align-self: flex-end;
  margin-right: 1rem;
  letter-spacing: 0.2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.game_rules {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}
.game_rules .close {
  margin-left: auto;
  width: 1.3rem;
  height: 1.3rem;
  align-self: center;
  cursor: pointer;
}
.game_rules h3 {
  font-size: 1.7rem;
  color: hsl(229, 25%, 31%);
}
.rules_img {
  width: 19rem;
  margin-bottom: 1rem;
}
.ReactModal__Content,
.ReactModal__Content--after-open {
  width: 310px;
  display: grid;
  place-items: center;
  height: 390px;
  border-radius: 10px !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}
.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  background-color: hsla(0, 0%, 3%, 0.5) !important;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
