* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.circle {
  height: 110px;
  width: 123px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  cursor: pointer;
}
.circle .inner-circle {
  background-color: white;
  /* width: 85px;
  height: 85px; */
  width: 95px;
  height: 88px;
  border-radius: 100%;
  box-shadow: 0px 6px 0px 0px #d4d2d2cb inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.circle .inner-circle img {
  height: 48px;
}
/******big circle*********/

.circle-big {
  /* height: 300px;
  width: 300px; */
  height: 200px;
  width: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}
.circle-big .inner-circle {
  background-color: white;
  /* width: 210px;
  height: 210px; */
  width: 170px;
  height: 158px;
  border-radius: 100%;
  box-shadow: 0px 7px 0px 0px #d4d2d2cb inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.circle-big .inner-circle img {
  height: 90px;
}
