@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.container {
  max-width: 45rem;
  width: 100%;
  border: 1px solid red;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/********SCORE***********/
.score-container {
  border: 3px solid hsl(217, 16%, 45%);
  margin: 1rem 0;
  display: flex;
  width: 85%;
  padding: 1rem 1rem 0.8rem 1.5rem;
  border-radius: 20px;
}
.score-container img {
  height: 5rem;
}
.score-container .score {
  margin-left: auto;
  background-color: white;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.score p {
  color: hsl(229, 64%, 46%);
  font-weight: 600;
  margin: 1rem 0 0 0;
  letter-spacing: 0.2rem;
}
.score h1 {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  font-weight: 700;
}
/********SCORE***********/

/**********PENTAGON***********/
.pentagon-container {
  width: 90%;
  background: url("./images/bg-pentagon.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
  position: relative;
  height: 28rem;
}
.paper {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: 0px 7px 1px -1px #1933b9;
}
.pentagon-container .paper {
  position: absolute;
  /* left: 25rem;
  top: 8rem; */
  top: 28%;
  left: 63%;
}
.scissors {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 7px 1px -1px #805505;
}
.pentagon-container .scissors {
  position: absolute;
  /* left: 16rem;
  top: 2rem; */
  top: 6%;
  left: 41%;
}
.spock {
  background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  box-shadow: 0px 7px 1px -1px #0e606e;
}
.pentagon-container .spock {
  position: absolute;
  /* top: 8rem;
  left: 7rem; */
  top: 28%;
  left: 18%;
}
.lizard {
  background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0px 7px 1px -1px #381181;
}
.pentagon-container .lizard {
  position: absolute;
  /* left: 11rem;
  top: 19rem; */
  top: 67%;
  left: 26%;
}
.rock {
  background: linear-gradient(#de3f5c, #da2f4e);
  box-shadow: 0px 7px 1px -1px #971930;
}
.pentagon-container .rock {
  position: absolute;
  /* top: 19rem;
  left: 22rem; */
  top: 67%;
  left: 55%;
}
/**********PENTAGON***********/
.circle {
  height: 110px;
  width: 123px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 2rem auto; */
  cursor: pointer;
}
.circle .inner-circle {
  background-color: white;
  /* width: 85px;
  height: 85px; */
  width: 95px;
  height: 88px;
  border-radius: 100%;
  box-shadow: 0px 6px 0px 0px #d4d2d2cb inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.circle .inner-circle img {
  height: 48px;
}
/******big circle*********/

.circle-big {
  /* height: 300px;
  width: 300px; */
  height: 200px;
  width: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 5rem auto; */
}
.circle-big .inner-circle {
  background-color: white;
  /* width: 210px;
  height: 210px; */
  width: 170px;
  height: 158px;
  border-radius: 100%;
  box-shadow: 0px 7px 0px 0px #d4d2d2cb inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.circle-big .inner-circle img {
  height: 90px;
}
/**********GAME PAGE *******/
.game-container {
  display: flex;
  width: 100%;
  border: 1px solid blue;
  height: 25rem;
  /* margin-top: 2rem; */
  text-align: center;
  align-items: center;
}
/* .game-container > * {
  flex-basis: 100%;
} */
.player-side,
.computer-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* .computer-side {
  margin-left: auto;
} */
.game-container h3 {
  color: #ffffff;
  font-size: 1.4rem;
}
.game-container h1 {
  font-size: 2.5rem;
  color: #ffffff;
}
.game-container .controls {
  flex-basis: 100%;
}
.game-container .controls button {
  height: 2.5rem;
  width: 11rem;
  border: none;
  border-radius: 6px;
  letter-spacing: 0.1rem;
  background: #ffffff;
  margin-top: 0.7rem;
  font-weight: 600;
  color: hsl(229, 25%, 31%);
  flex-basis: 100%;
}
.default {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: hsl(237, 49%, 15%);
}
/**********GAME PAGE *******/
